[user]
	name = i09158knct
	email = i09158knct@gmail.com
[color]
	ui = auto
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
[core]
  excludesfile = ~/.gitignore
	editor = /usr/bin/vim
